

.grid {
    width: 500px;
    height: 700px;
    background-image: url(/bg.png);
    background-size: cover;
    position: relative;
    font-size: 200px;
    text-align: center;
}

.startScreen {
    width: 500px;
    height: 700px;
    background-image: url(/bg.gif);
    background-size: cover;
    position: relative;
    font-size: 200px;
    text-align: center;
}

.endScreen {
    width: 500px;
    height: 700px;
    background-image: url(/bg.gif);
    background-size: cover;
    position: relative;
    font-size: 200px;
    text-align: center;
}



.smolGif{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 250px;
}


p {
    display: inline;
    font-size: 100px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.smol {
    width: 60px;
    height: 100px;
    background-image: url(/smol.png);
    background-size: cover;
    position: absolute;
}

.platform {
    width: 85px; 
    height: 15px;
    background-image: url(/floor.png);
    background-size: cover;
    position: absolute;
}

.nft {
    width: 50px;
    height: 40px;
    background-image: url(/nfts/brain1.png);
    background-size: cover;
    position: absolute;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    content:url(/nfts/brain1.png);
  }

  .hide {
    visibility: hidden;
}